<link rel="stylesheet" href="/stylesheets/UC03 search.css">

<div class="itemsContainer">
    <div class="productContainer">
        <a href="/productPage/">
            <div class="productImage">
                <img src="/images/Carrot.png">
            </div>
            <p class="productName">Carrots</p>
            <p class="productPrice">$10.00</p>
        </a>
        <button class="addBtn">Add to cart</button>
    </div>

    <div class="productContainer">
        <a href="/productPage/">
            <div class="productImage">
                <img src="/images/Carrot.png">
            </div>
            <p class="productName">Carrots</p>
            <p class="productPrice">$10.00</p>
        </a>
        <button class="addBtn">Add to cart</button>
    </div>
</div>