<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">  
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/UC05 cart.css">
</head>
<body>
    <%- include('partials/header') %>

    <div class="cartContainer">

        <div class="cartProducts">

            <div class="productContainer">
                <div class="productImage">
                    <img src="/resources/Carrot.png">
                </div>
                <div class="productDesc">
                    <h1>Carrots</h1>
                    <h2>$10.00</h2>
                    <p>Fresh carrots</p>
                </div>
            </div>

            <div class="productContainer">
                <div class="productImage">
                    <img src="/resources/Carrot.png">
                </div>
                <div class="productDesc">
                    <h1>Carrots</h1>
                    <h2>$10.00</h2>
                    <p>Fresh carrots</p>
                </div>
            </div>
        </div>

        <div class="cartSummary">
            <h2>Subtotal</h2>
            <p>$20</p>
            <a href="/cart/checkout">
            <button type="submit" class="btn btn-primary">Continue to Checkout</button>
            </a>
        </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
