<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">  
    <link rel="stylesheet" href="/stylesheets/UC04 productPage.css">
    <link rel="stylesheet" href="/stylesheets/UC09_review.css">
</head>
<body>
    <%- include('partials/header') %>

    <div class="mainContainer">
        <div class="productContainer">
            <div class="productImage">
                <img src="/images/Carrot.png">
            </div>
            <div class="productDesc">
                <h1>Carrots</h1>
                <p>Fresh carrots</p>
            </div>
            <div class="productBuy">
                <h2>$10.00</h2>
                <button class="addBtn">Add to cart</button>
            </div>
        </div>

        <div class="productReviews">
            <div class="reviewsHeader">
                <h2>Reviews</h2>
                <button class="btn btn-primary" id="btnReview" type="button">Leave a review</button>
            </div>
            <div class="reviewForm" id="input_review">
                <p>Your review</p>
                <div class="stars">
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                </div>
                <input type="text" class="form-control" id="review_header" placeholder="Review title">
                <textarea class="form-control" id="review_body" placeholder="Write your review here..."></textarea>
                <button class="addBtn" id="review_submit" type="submit">Submit</button>
            </div>
        </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="/javascripts/productPage.js"></script>
</body>
</html>
