<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/UC08_update_profile.css">
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="itemsContainer" id="profile_info">
      <h1>John Doe</h1>
      <button type="submit" class="btn btn-primary">Change Username</button>
      <button type="submit" class="btn btn-primary">Reset Password</button>
    </div>

    <div class="itemsContainer" id="payment_info">
      <h1>Payment Information</h1>
      <button type="submit" class="btn btn-primary">Change Shipping Address</button>
      <h2>Saved Cards</h2>
      <button type="submit" class="btn btn-primary" id="add_card">Add Card</button>
      <div class="saved_card">
        <table>
          <tr>
            <th>Card name</th>
            <td>Main Credit</td>
          <tr>
            <th>Card Type</th>
            <td>Visa<td>
          </tr>
          <tr>
            <th>Card Number</th>
            <td>**** **** **** *111</td>
          </tr>
        </table>
        <button type="submit" class="btn btn-primary">Edit</button>
        <button type="submit" class="btn btn-primary">Delete</button>
      </div>
      <div class="saved_card">
        <table>
          <tr>
            <th>Card name</th>
            <td>Main Credit</td>
          <tr>
            <th>Card Type</th>
            <td>Visa<td>
          </tr>
          <tr>
            <th>Card Number</th>
            <td>**** **** **** *222</td>
          </tr>
        </table>
        <button type="submit" class="btn btn-primary">Edit</button>
        <button type="submit" class="btn btn-primary">Delete</button>
      </div>
      <div class="saved_card">
        <table>
          <tr>
            <th>Card name</th>
            <td>Main Credit</td>
          <tr>
            <th>Card Type</th>
            <td>Visa<td>
          </tr>
          <tr>
            <th>Card Number</th>
            <td>**** **** **** *333</td>
          </tr>
        </table>
        <button type="submit" class="btn btn-primary">Edit</button>
        <button type="submit" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </body>
</html>
