.itemsContainer {
    display: flex;
    flex-direction: column;
}

.productContainer {
    flex: 1;
    display: flex;
}

.productImage {
    flex: 4;
    max-width: 40%;
    margin: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}
.productImage img{
    width: 100%;
    height: auto;
}
.productDesc {
    flex: 4;

    margin: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.searchContainer {
    display: flex;
    gap: 5px;
}

.filtersContainer {
    flex: 1;
    margin: 20px;
    padding: 20px;
    background-color: white;
}

.itemsContainer {
    flex: 10;
    margin: 20px;
    padding: 20px;
    background-color: white;
}