body{
    background-color: #f4f4f4;
}

.logo{
    background-color: rgb(17, 157, 129);
    display: flex;
    justify-content: space-between;
    text-align: left;
    text-indent: 5%;
    font-size: 27px;
    font-weight: bold;
    padding: 20px 40px;
    font-family: 'Arial', sans-serif;
}

.logo input {
    max-width: 75%;
}

.logo a {
    color: rgb(240, 255, 255);
    text-decoration: none;
    white-space: nowrap;
}

.searchContainer {
    display: flex;
    gap: 5px;
}

.filtersContainer {
    flex: 1;
    margin: 20px;
    padding: 20px;
    background-color: white;
}

.itemsContainer {
    flex: 10;
    margin: 20px;
    padding: 20px;
    background-color: white;
}

.main {
    margin-top: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.checkout {
    background-color: white;
    padding: 10px;
    display: inline-block;
    width: 40%;
    margin-right: 20px;
}

.checkout input {
    width: 49%;
    margin-bottom: 10px;
}

.checkout p {
    font-weight: bold;
    font-size: 20px;
}

#card {
    width: 98%;
}

.checkout button {
    font-weight: bold;
    color: white;
    border-color: rgb(17, 157, 129);
    background-color: rgb(17, 157, 129);
}

.cart {
    background-color: white;
    display: inline-block;
    width: 15%;
    padding: 20px;
    border-style: solid;
    border-radius: 50px;
}

.cart p {
    font-weight: bold;
    font-size: 20px;
}
