body{
    background-color: #f4f4f4;
}

.logo{
    background-color: rgb(17, 157, 129);
    display: flex;
    justify-content: space-between;
    text-align: left;
    text-indent: 5%;
    font-size: 27px;
    font-weight: bold;
    padding: 20px 40px;
    font-family: 'Arial', sans-serif;
}

.logo input {
    max-width: 75%;
}

.logo a {
    color: rgb(240, 255, 255);
    text-decoration: none;
    white-space: nowrap;
}

.searchContainer {
    display: flex;
    gap: 5px;
}

.filtersContainer {
    flex: 1;
    margin: 20px;
    padding: 20px;
    background-color: white;
}

.itemsContainer {
    flex: 10;
    margin: 20px;
    padding: 20px;
    background-color: white;
}

.main {
    margin-top: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.history {
    padding: 20px;
    margin: 0px;
    width: 60%;
    background-color: white;
}

.history p {
    font-weight: bold;
    font-size: 30px;
}

.history table {
    width: 100%
}

.history table tr {
    height: 50px;
}
