#payment_info h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

#add_card{
    display: block;
}

.saved_card{
    display: inline-block;
    border-style: solid;
    border-color: grey;
    border-radius: 50px;
    border-width: 1px;
    width: 350px;
    padding: 20px;
    margin: 20px;
}

.saved_card table{
    width: 100%;
    margin-bottom: 30px;
}
