
.productImage {
    display: inline-block;
    vertical-align: middle;
    flex: 4;
    max-width: 35%;
    margin: 20px;
    margin-left: 60px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.productImage input{
    padding: 250px;
}

.productDesc {
    display: inline-block;
    vertical-align: middle;
    width: 55%;
    flex: 4;
    margin: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

#item_name{
    display: inline-block;
    width: 70%;
}

#item_price{
    display: inline-block;
    width: 19%;
}

#item_quantity{
display: inline-block;
width: 10%;
}

#item_desc{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
